<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/deeks/Downloads/Maven_project/OctPomSeriesFramework-master/CucumberBDD_Practice">
        <classes>
            <class name="Demo"></class>
        </classes>
    </test>
</suite>